/* General Header Styling */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1400;
  width: 100%;
  height: 4rem;
  flex-direction: column;
  background: #fff;
  backdrop-filter: blur(2rem);
  transition: all 500ms cubic-bezier(0.4, 0, 0.6, 1) 30ms;
}

.header.menu {
  height: 100vh;
  background: #ffffff;
}

/* Navigation Container */
.navContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-inline: auto;
  position: relative;
}

/* Call-to-action and Logo Styling */
.cta,
.logo {
  position: relative;

  cursor: pointer;
}
.cta {
  z-index: 1800;
  display: flex;
  align-items: center;
}
.cta span {
  flex-grow: 1;
}
.logo svg {
  width: 84px;
}

/* Mobile Wrapper */
.mobileWrapper {
  position: absolute;
  z-index: 999999;
  transition: color 0.32s cubic-bezier(0.4, 0, 0.6, 1);
  visibility: hidden;
  opacity: 1;
  width: 100%;
  pointer-events: auto;
  background-color: red;
}

/* Navigation Menu */
.navMenuList {
  height: auto;
  padding-bottom: 84px;
}

.navLink {
  color: var(--text-color);
}

.mobileMenu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 27px;
  height: 20px;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.mobileMenu img {
}

.icon {
  /* width: 27px;
  height: 19.3px; */
  transition: transform 0.5s ease;
}

.active .closeIcon {
  transform: rotateX(180deg);
  transition: transform 0.5s ease;
}

.menuIcon {
  height: auto;
  /* width: 27px;
  height: 19.3px; */
}

.closeIcon {
  width: 19px;
  height: 19px;
}

/* Fullscreen Menu */
.menu {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}

.nav {
  opacity: 0;
  position: fixed;
  top: -10px;
  width: 100%;
  visibility: hidden;
  flex: 1;
  background: inherit;
  z-index: 1700;
  transition: all 0.5s ease-in, transform 0.5s ease-in-out;
  padding: 16px;
  padding-top: 75px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.nav {
  overflow-y: scroll;
  height: 100vh;
  /* Adjust height as needed */
}

/* Hide scrollbar for Chrome, Safari, and Edge */
.nav::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* Optional: Hide scrollbar for Firefox */
.nav {
  scrollbar-width: none;
}

/* Optional: Hide scrollbar for IE and older Edge */
.nav {
  -ms-overflow-style: none;
}

.header.menu .nav {
  opacity: 1;
  visibility: visible;
}

.nav span {
  padding: 21px;
  font-family: "Inter-semiBold";
  font-size: 18px;
  line-height: 21.78px;
  display: block;
}

.nav > span {
  color: #fff !important;
  transform: translateY(-100%);
  opacity: 0;
  transition: transform 0.6s ease-in-out, opacity 0.4s ease-in;
  font-family: "Inter-medium";
  line-height: 22px;
}

.header.menu .nav > span {
  color: var(--text-color) !important;
  transform: translateY(0);
  opacity: 1;
  transition-delay: 0.4s;
}

.header.menu .nav span:hover {
  box-shadow: 0px 5px 16px -1px #00000026;
  color: var(--primary-color) !important;
  cursor: pointer;
  border-radius: 10px;
  font-family: "Inter-semiBold";
}

.nav > span,
.nav button,
.nav button > span {
  color: transparent;
  /* Initially hidden */
  transform: translateY(-10px);
  /* Slight move up */
  opacity: 0;
  transition: color 0.6s ease, transform 0.6s ease, opacity 0.6s ease;
}

.header.menu .nav > span,
.nav button {
  color: #000;
  /* Target color after menu opens */
  transform: translateY(0);
  /* Move back to normal */
  opacity: 1;
}

span#config {
  display: inline-block;
  margin-top: auto;
  border: 2px solid var(--primary-color);
  color: var(--primary-color) !important;
  font-family: "Inter-medium";
  text-align: center;
  margin-bottom: 100px;
  /* opacity: 1; */
  /* transition-delay: initial !important; */
}

.signIn {
  margin-top: 20px;
  background-color: var(--primary-color) !important;
  color: #fff !important;
  font-family: "Inter-medium";
  margin-bottom: 84px;
  text-align: center;
  border-radius: 20px !important;
  /* opacity: 1;
  transition-delay: initial; */
  box-shadow: initial !important;
}

.header.menu .nav > span:nth-child(1) {
  transition-delay: 0.1s;
  /* Staggered delay for first item */
}

.header.menu .nav > span:nth-child(2) {
  transition-delay: 0.2s;
  /* Second item */
}

.header.menu .nav > span:nth-child(3) {
  transition-delay: 0.3s;
  /* Third item */
}

.header.menu .config {
  transition-delay: 0.4s !important;
}

.header.menu .nav div {
  opacity: 1;
}

.header.menu .nav button:nth-child(1) {
  transition-delay: 0.5s;
}

.header.menu .nav button:nth-child(2) {
  transition-delay: 0.6s;
}

.downActions {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: auto;
  padding-bottom: 84px;
}
.downActions button {
  max-width: 310px;
  width: 100%;
}
@media (max-width: 500px) {
  span#signIn,
  span#config {
    min-width: 100%;
  }
}
