/* General Header Styling */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1400;
  width: 100%;
  height: 4.8rem;
  flex-direction: column;
  background: #fff;
  backdrop-filter: blur(2rem);
  transition: all 330ms cubic-bezier(0.4, 0, 0.6, 1) 30ms;
}

.header.menu {
  height: 100vh;
  background: #fafafc;
}

/* Navigation Container */
.navContainer {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-inline: auto;
  position: relative;
}

/* Call-to-action and Logo Styling */
.cta,
.logo {
  position: relative;

  cursor: pointer;
}

.cta {
  z-index: 1800;
}
.logo svg {
  width: 84px;
}

/* Mobile Wrapper */
.mobileWrapper {
  position: absolute;
  z-index: 999999;
  transition: color 0.32s cubic-bezier(0.4, 0, 0.6, 1);
  visibility: hidden;
  opacity: 1;
  width: 100%;
  pointer-events: auto;
  background-color: red;
}

/* Navigation Menu */
.navMenuList {
  height: auto;
  padding-bottom: 84px;
}

.navLink {
  color: var(--text-color);
}

/* Mobile Menu Button */
.mobileMenu {
  position: relative;
  z-index: 999999;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.line {
  position: absolute;
  width: 18px;
  height: 2px;
  background-color: #000;
  transition: margin-top 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96);
}

.line-top {
  margin-top: 3px;
}

.line-bottom {
  margin-top: -0.7rem;
}

.active .line-top {
  margin-top: 0;
  transform: rotate(45deg);
  transition: transform 0.3192s 0.1s cubic-bezier(0.04, 0.04, 0.12, 0.96);
}

.active .line-bottom {
  margin-top: 0;
  transform: rotate(-45deg);
  transition: transform 0.3192s 0.1s cubic-bezier(0.04, 0.04, 0.12, 0.96);
}

/* Fullscreen Menu */
.menu {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.nav {
  opacity: 0;
  position: fixed;
  top: -10px;
  width: 100%;
  visibility: hidden;
  flex: 1;
  background: inherit;
  z-index: 1700;
  transition: all 0.2s ease-in, transform 0.5s ease-in-out;
  padding: 16px;
  padding-top: 4.8rem;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}
.nav {
  overflow-y: scroll;
  height: 100vh; /* Adjust height as needed */
}

/* Hide scrollbar for Chrome, Safari, and Edge */
.nav::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* Optional: Hide scrollbar for Firefox */
.nav {
  scrollbar-width: none;
}

/* Optional: Hide scrollbar for IE and older Edge */
.nav {
  -ms-overflow-style: none;
}

.header.menu .nav {
  opacity: 1;
  visibility: visible;
}
.nav span {
  padding: 21px;
  font-family: "Inter-semiBold";
  font-size: 18px;
  line-height: 21.78px;
  display: block;
}

.nav > span {
  color: #fff !important;
  transform: translateY(-100%);
  opacity: 0;
  transition: transform 0.6s ease-in-out, opacity 0.4s ease-in;
}

.header.menu .nav > span {
  color: var(--text-color) !important;
  transform: translateY(0);
  opacity: 1;
  transition-delay: 0.4s;
}

.header.menu .nav span:hover {
  box-shadow: 0px 5px 16px -1px #00000026;
  color: var(--primary-color) !important;
  border-radius: 10px;
}

.nav > span,
.nav button,
.nav button > span {
  color: transparent; /* Initially hidden */
  transform: translateY(-10px); /* Slight move up */
  opacity: 0;
  transition: color 0.6s ease, transform 0.6s ease, opacity 0.6s ease;
}

.header.menu .nav > span,
.nav button {
  color: #000; /* Target color after menu opens */
  transform: translateY(0); /* Move back to normal */
  opacity: 1;
}

span#config {
  display: inline-block;
  margin-top: auto;
  border: 2px solid var(--primary-color);
  color: var(--primary-color) !important;
  font-family: "Inter-medium";
  min-width: 320px;
  text-align: center;
}
span#signIn {
  margin-top: 20px;
  background-color: var(--primary-color) !important;
  color: #fff !important;
  font-family: "Inter-medium";
  margin-bottom: 84px;
  min-width: 320px;
  text-align: center;
}
.config:hover {
  border-radius: 40px !important;
}
.header.menu .nav > span:nth-child(1) {
  transition-delay: 0.1s; /* Staggered delay for first item */
}
.header.menu .nav > span:nth-child(2) {
  transition-delay: 0.2s; /* Second item */
}
.header.menu .nav > span:nth-child(3) {
  transition-delay: 0.3s; /* Third item */
}
.header.menu .config {
  transition-delay: 0.4s !important;
}

.header.menu .nav div {
  opacity: 1;
}
.header.menu .nav button:nth-child(1) {
  transition-delay: 0.5s;
}

.header.menu .nav button:nth-child(2) {
  transition-delay: 0.6s;
}

@media (max-width: 390px) {
  span#signIn,
  span#config {
    min-width: 100%;
  }
}
