.container {
  background: linear-gradient(360.62deg, #efeff2 32.27%, #ffffff 65.46%);
  background-color: #fff;
  padding-bottom: 86px;
  position: relative;
}
.sliderContainer {
  /* background-color: #fbfbfc; */
}

.aboutTitle {
  padding-top: 50px;
  font-family: "Inter-semiBold";
  font-size: 44px;
  line-height: 49px;
  padding-bottom: 30px;
  text-transform: uppercase;
  width: 40%;
}
.sliderContainer h3 {
  font-family: "Inter-medium", sans-serif;
  font-size: 30px;
  text-transform: uppercase;
}
.sliderContainer p {
  font-family: "Inter-medium", sans-serif;
  font-size: 22px;
  text-transform: uppercase;
}
.slider {
  /* border: 1px solid red; */
  /* min-height: 400px; */
}

.slider :global(.slick-slide > div) {
  padding: 0.8rem;
}
.slide {
  border-radius: 20px;
  padding: 14px 27px;
  padding-top: 30px;
  /* min-width: 300px; */
  min-height: 292px;
  /* max-height: 303px; */
  background: #fff;
  background-color: #fff;
  transition: 0.3s ease-in-out;
  border: 1px solid #e5e5e5;
  display: flex !important;
  flex-direction: column;
  box-sizing: border-box;
}

.slide:hover {
  border-color: #264eab;
}
.slideContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.plusButton {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: #264eab;
  color: #fff;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.arrow {
  background-color: #e1dfe5;
  width: 34px;
  height: 34px;
  border-radius: 100%;
  position: absolute;
  bottom: -45px;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 100px;
  cursor: pointer;
}
.prevArrow {
  right: 50px;
}
.nextArrow {
  transform: scaleX(-1);
}
.slideTitle {
  font-size: 30px;
  font-family: "Inter-medium";
  line-height: 39px;
  color: var(--text-color);
  white-space: wrap !important;
  word-wrap: break-word;
}
.slideDescription {
  color: var(--text-color);
  font-size: 22px;
  font-family: "Inter-medium";
  line-height: 29px;
}
.wrapper {
  max-width: 1440px; /* Max width of the container */
  margin: 0 auto; /* Center the container */
  padding-left: 100px;

  width: 100%; /* Full width until max-width */
  box-sizing: border-box; /* Padding included in width */
}

.contentArea {
  margin-top: 30px;
}
.ctaWrapper {
  margin-top: auto;
}
@media (max-width: 1100px) {
  .wrapper {
    padding-left: 50px;
  }
}

@media (max-width: 776px) {
  .wrapper {
    padding-left: 0px;
  }
}
@media (max-width: 992px) {
  .aboutTitle {
    padding-inline: 16px;
    width: 80%;
    /* font-size: 30px;
    line-height: 40px; */
  }
}
@media (max-width: 576px) {
  .arrow {
    margin-right: 16px;
  }
  .aboutTitle {
    width: 100%;
    font-size: 30px;
    line-height: 40px;
  }
  .title {
    font-size: 30px;
    line-height: 40px;
    letter-spacing: -2%;
  }
  .slide {
    margin-inline: initial;
  }
}

@media (max-width: 873px) {
  .slide {
    border-radius: 20px;
    padding: 30px;
    max-width: 341px;
    width: 100%;
    min-height: 341px;
    background: #fff;
    background-color: #fff;
    transition: 0.3s ease-in-out;
    border: 1px solid #e5e5e5;
    margin-inline: 10px;
  }
}
@media (max-width: 873px) {
  .slide {
    max-width: 100%;
  }
}
