:root {
  --primary-color: #264eab;
  --blue-color: #7ba0d0;
  --secondary-color: #6c757d;
  --tertiary-color: #f5f5ef;
  --text-color: #101014;
  --bg-color: #efeff2;
}

/* Inter */
/* Regular (normal): 400
  Medium: 500
  SemiBold: 600
  InterBold: 700 */
@font-face {
  font-family: "Inter-regular";
  src: url("./assets/fonts/Inter/Inter-Regular.ttf");
}
@font-face {
  font-family: "Inter-medium";
  src: url("./assets/fonts/Inter/Inter-Medium.ttf");
}
@font-face {
  font-family: "Inter-semiBold";
  src: url("./assets/fonts/Inter/Inter-SemiBold.ttf");
}
@font-face {
  font-family: "Inter-bold";
  src: url("./assets/fonts/Inter/Inter-Bold.ttf");
}
@font-face {
  font-family: "Inter-extraBold";
  src: url("./assets/fonts/Inter/Inter-ExtraBold.ttf");
}
.px-100 {
  padding-inline: 100px !important;
}

p,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter-regular";
  color: var(--text-color);
}
/* src/styles/reset.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: sans-serif;
  /* overflow-x: hidden; */
}

button,
input,
textarea {
  font: inherit;
  border: none;
  background: none;
}

a {
  text-decoration: none;
  color: inherit;
}
.disabled {
  cursor: not-allowed !important;
  color: var(--secondary-color) !important;
}
.disable:focus,
.disable:hover {
  color: var(--secondary-color) !important;
}
ul,
ol {
  list-style: none;
}

.large-heading {
  font-family: "Inter-semiBold";
  font-size: 100px;
  color: var(--text-color);
  line-height: 99px;
}
.medium-heading {
  font-family: "Inter-medium";
  font-size: 44px;
  color: var(--text-color);
  line-height: 49px;
}
.semiBold-heading {
  font-family: "Inter-semiBold";
  font-size: 44px;
  color: var(--text-color);
  line-height: 49px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}
.transparent-btn {
  width: fit-content;
  background-color: transparent;
  border: 2px solid #fff; /* Adjust color as needed */
  color: #fff !important; /* Adjust color as needed */
  padding: 10px 20px !important;
  cursor: pointer !important;
  z-index: 9;
  transition: background-color 0.3s, color 0.3s;
  padding: 24px 12px;

  border-radius: 40px;
}
.transparent-btn span {
  color: #fff !important;
  font-size: 16px !important;
  line-height: 19px !important;
  font-family: "Inter-medium" !important;
  font-weight: 500 !important;
  display: block;
  margin: auto;
}
.transparent-btn:hover {
  background-color: transparent !important; /* Adjust color as needed */
  color: #fff; /* Adjust color as needed */
}
.transparent-btn:focus {
  outline: none;
  box-shadow: none !important;
}
.primary-btn {
  border: 1px solid var(--primary-color);
  color: var(--primary-color) !important;
  text-transform: uppercase;
}
.primary-btn span {
  color: var(--primary-color) !important;
  letter-spacing: 3% !important;
}
.bg-primary {
  background-color: var(--primary-color);
}

.EZDrawer__overlay {
  z-index: 9999 !important;
}
.mobile-drawer {
  z-index: 99999 !important;
}

.p-component-overlay {
  backdrop-filter: blur(2px) !important;
  background: rgba(0, 0, 0, 0.25) !important; /* Reduce opacity */
  pointer-events: all;
  /* opacity: 1; */
}

div.modal-open {
  backdrop-filter: blur(600px) !important;
  background: rgba(0, 0, 0, 0.47) !important; /* Optional for dimming effect */
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}
.slick-track {
  display: flex !important;
  gap: 1px;
}
.slick-list {
  height: auto !important;
}

.p-dialog-mask {
  z-index: 99999 !important;
}
@media (max-width: 424px) {
  .slick-track {
    display: flex !important;
    gap: 15px;
  }
}

@media (max-width: 873px) {
  .slick-track {
    display: flex !important;
    gap: 5px;
  }
}
