.bg {
  background-color: red;
  border: 1px solid;
}

.wrapper {
  padding: 44px 24px;
  background-color: var(--tertiary-color);
  border-radius: 20px;
  overflow: hidden;
}

.accordionsTab {
  max-width: 605px;
}

.topIcon {
  position: absolute;
  top: 0px;
  left: 0px;
}

.imgWrapper {
  z-index: 999;
  position: relative;
}

.imgWrapper {
  padding-left: 41px;
}

.imgWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  /* Ensure the column height matches */
}

.imgWrapper img {
  width: 100%;
  /* Set to fill the container width */
  max-width: 451px;
  /* Maximum size for large screens */
  height: auto;
  /* Maintain aspect ratio */
  object-fit: cover;
  /* Ensure it fills its container appropriately */
}
.originalState {
  overflow: hidden;
  position: relative;
}

/* .imgWrapper {
  position: relative;
  overflow: hidden;

}

.slideIn {
  animation: slideInFromRight 0.5s ease forwards;
}

@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
} */

.wrapper {
  position: relative;
  width: 100%;
}

.imageCol {
  position: relative;
}

.imageContainer {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.imgWrapper {
  position: relative;
  overflow: hidden;
  height: 100%;
}

.imgWrapper {
  position: relative;
  overflow: hidden;
  height: 460px; /* Set a fixed height or adjust based on your design */
}

.imgContainer {
  position: absolute;
  bottom: calc(-50% + 175px);
  right: 0;
  /* left: 41px; */
  width: 100%;
  height: 100%;
  transition: transform 0.1s ease-in-out;
}
.imgContainer img {
  max-width: 420px;
}
.slideInNext {
  transform: translateX(100%);
}

.slideInCurrent {
  transform: translate(0%);
}

.slideOut {
  transform: translateX(100%);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.wrapper {
  padding-right: 75px !important;
}

@media (max-width: 767px) {
  .accordionsTab {
    max-width: initial;
  }
  .wrapper {
    padding-right: 24px !important;
  }
}
@media (max-width: 576px) {
  .wrapper {
    padding: 44px 6px !important;
  }
  .imgWrapper {
    padding-left: 0;
  }
  .imgWrapper img {
    max-width: 382px;
  }
  .imgContainer {
    bottom: calc(-50% + 150px);
  }
}
@media (max-width: 576px) {
  .wrapper {
    padding-bottom: 28px !important;
    padding-top: 12px !important;
    background-color: var(--tertiary-color);
  }
}
