.wrapper {
  padding: 10px 0px;
  padding-inline: 0px;
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  margin-block: 70px;
  overflow: hidden;
  height: 385px;
  overflow: hidden;
  border-radius: 20px;
  width: 100%;
  min-width: 100%;
  margin: 2px;

}

.content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  /* overflow: hidden; */
  border-radius: 20px;
}

.title {
  color: #fff;
  text-transform: uppercase;
  text-align: left;
  font-family: "inter-SemiBold";
  font-size: 44px;
}

.cta {
  text-transform: uppercase;
  font-family: "Inter-medium";
  line-height: 22px;
  font-size: 18px;
  letter-spacing: 2%;
  margin-top: 30px;
}

.cta:hover {
  color: var(--text-color) !important;

  background-color: #fff !important;
}

.cta:hover span {
  color: var(--text-color) !important;
}

.wrapper {
  position: relative;
}

.sticky {
  position: sticky;
  border-radius: 20px;
  top: 0;
  min-height: 384px;
}

/* Take 100% height and width of container */
.el {
  /* height: 100%; */
  width: 100%;
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid;
  border-radius: 20px;
}

/* .imageContainer {
  position: relative;
  height: 384px;
  left: 0;
} */
.mainContent {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  z-index: 2;
  text-align: left;
  /* Ensure content aligns properly */
  width: 100%;
  /* Optionally limit this to a max width for better control */
  max-width: 600px;
  /* Optional, adjust based on your design */
  padding: 0 1rem;
  /* Add some padding for smaller screens */
}

.imageContainer {
  position: absolute;
  /* width: 100%; */
  height: 100%;
  z-index: 11;
  /* Ensure it stays below the content */
}

.imageContainer img {
  border-radius: 20px;
  height: 100%;
  object-fit: cover;
  z-index: 11;
}

@media (max-width: 1300px) {
  .wrapper {
    height: 400px;
  }

  .mainContent {
    left: 35%;
    text-align: left;
  }

  .title {
    font-size: 38px;
  }

  .cta {
    font-size: 16px;
  }
}

@media (max-width: 1100px) {
  .wrapper {
    padding-inline: 0px;
    height: 340px;
  }

  .mainContent {
    left: 40%;
    text-align: left;
  }
}

@media (max-width: 900px) {
  .wrapper {
    padding-inline: 0px;
    height: 280px;
  }

  .mainContent {
    left: 42%;
    text-align: left;
  }

  .title {
    font-size: 34px;
  }

  .cta {
    font-size: 14px;
  }
}

@media (max-width: 776px) {
  .wrapper {
    padding-inline: 0px;
    height: 250px;
  }

  .mainContent {
    left: 52%;
    text-align: left;
  }

  .title {
    text-align: left;
  }
}

@media (max-width: 601px) {
  .wrapper {
    min-height: 925px;
    display: flex;
  }

  .mainContent {
    top: initial;
    bottom: 90px;
  }
}

@media (max-width: 576px) {
  .title {
    font-size: 30px;
    line-height: 39px;
    font-family: "Inter-bold";
  }

  .wrapper {
    min-height: 885px;
  }
}

@media (max-width: 550px) {
  .wrapper {
    min-height: 830px;
  }
}

@media (max-width: 506px) {
  .wrapper {
    min-height: 730px;
    display: flex;
  }

  .content {
    /* margin-top: auto; */
    flex: 1;
  }

  .cta {
    display: block;
    margin: auto;
    margin-top: 15px;
    white-space: nowrap;
  }

  .title {
    font-size: 30px;
    line-height: 39px;
    text-align: left;
  }

  .mainContent {
    left: 50%;
    text-align: center;
    width: 100%;
  }

  .title {
    text-align: center;
  }
}

@media (max-width: 440px) {
  .wrapper {
    min-height: 670px;
    /* padding-inline: 16px; */
    display: flex;
  }

  .mainContent {
    top: initial;
    bottom: 60px;
  }
}

@media (max-width: 399px) {
  .wrapper {
    min-height: 610px;
    /* padding-inline: 16px; */
    display: flex;
  }
}
